* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #0d0d0d;
  --red: #cf000f;
  --light-black: #252423;
  --gray: #8b8b8b;
  --white: #fff;
  --dark-gray: #252423;
}

.red_btn {
  background-color: var(--red) !important;
  color: var(--white) !important;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: var(--body-color);
}

.header_shadow {
  width: 100%;
  /* padding-top: 1px; */
  height: 100vh;
  background-color: rgba(13, 13, 13, 0.77);
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input {
  font-family: "Roboto", sans-serif;
  outline: none;
}

button {
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin: 40px;
}

.column_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_container {
  margin-top: 49px;
  display: inline-flex;
  width: 100%;
}

header {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0;
  background-image: url("../img/image_1.png");
}

.header_logo {
  width: 137px;
  height: 22px;
  margin-left: 134px;
  margin-top: 4px;
}

.main-nav {
  display: flex;
  gap: 60px;
}

.main-nav li a {
  color: var(--white);
  font-size: 80%;
  font-weight: 400;
}

.main-nav li a:hover {
  color: var(--red);
}

.header_icon_container {
  margin-top: 6px;
  display: flex;
  gap: 28px;
  margin-right: 137px;
}
.header_search {
  display: flex;
  gap: 8px;
}

.header_search input {
  background: none;
  border: none;
  margin-top: -5px;
  color: var(--white);
  font-weight: 200;
  font-size: 70%;
}

.header_search input::placeholder {
  color: var(--white);
  font-weight: 200;
  /* font-size: 100%; */
}
#resp-check{
  display: none;
}
#resp-btn{
  display: none;
}
.header_main_container {
  margin-left: 132px;
  max-width: 500px;
  margin-top: 20vh;
}

.header_main_container h1 {
  color: var(--white);
  font-family: "Rubik Mono One", sans-serif;
  font-weight: 400;
  font-size: 220%;
}

.header_movie_type {
  display: flex;
  gap: 12px;
  /* margin-top: 20px; */
  font-weight: 300;
  font-size: 90%;
  color: var(--white);
  /* border-right: 1px solid; */
}

.header_movie_type li {
  border-right: 1px solid;
  padding-right: 12px;
  margin-top: 20px;
}

.header_movie_paragraph {
  margin-top: 30px;
  font-size: 80%;
  font-weight: 300;
  color: var(--white);
  line-height: 24px;
}

.header_movie_type li:nth-last-child(1) {
  border-right: none;
}

.header_movie_info {
  display: flex;
  gap: 34px;
  margin-top: 30px;
}

.header_movie_info li {
  color: var(--white);
  font-weight: 300;
  font-size: 90%;
  display: flex;
  gap: 5px;
  margin-top: -4px;
}

.header_movie_info li:nth-child(2) svg {
  margin-top: 2px;
}
.header_movie_info li:nth-child(3) svg {
  margin-top: 8px;
}

.header_movie_info li svg {
  display: block;
}

.button_container {
  margin-top: 40px;
  display: flex;
  gap: 47px;
}

.button_container button {
  height: 50px;
  padding: 0 30px;
  font-weight: 500;
  font-size: 90%;
  /* display: flex; */
  background: linear-gradient(
    262.15deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 0.3px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  color: var(--red);
  border-radius: 99px;
}

.button_container button svg {
  margin-right: 14px;
  margin-top: -4px;
  display: inline-block;
}

.section_header {
  display: flex;
  gap: 43px;
}

.section_header h2 {
  font-weight: 500;
  font-size: 160%;
  color: var(--white);
}

.section_header span {
  display: inline-block;
  width: 291px;
  height: 6px;
  background: linear-gradient(
    90.03deg,
    #c00511 49.97%,
    rgba(192, 5, 17, 0) 92.25%
  );
  margin-top: 19px;
}

.view_all {
  color: var(--white);
  display: block;
  width: 100px;
  margin-left: auto;
  font-weight: 500;
  font-size: 80%;
  margin-top: 20px;
  text-align: right;
}

/* CONTINUE WATCHING| SECTION 1 */

.continue_watching_container {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));
  gap: 40px;
}

.continue_watching_card {
  height: 290px;
  /* background-color: var(--red); */
}

.continue_watching_card video {
  display: block;
  width: 100%;
  height: 243px;
  border-radius: 6px 6px 0 0;
}

.continue_watching_card h3 {
  font-weight: 800;
  font-size: 90%;
  color: var(--white);
  margin-top: 17px;
  cursor: pointer;
}

.continue_watching_card:hover h3 {
  color: var(--red);
}

/* //////////////////////////////////SLIDER CONTAINER///////////////////////////////////////////// */

.slider_container {
  max-width: 1256px;
  margin: 0 auto;
  margin-top: 32px;
}

#slider_right_btn,
#slider_left_btn {
  margin-top: 182px;
  cursor: pointer;
  min-width: 15px;
}

.slider_inner_container {
  height: 430px;
  display: flex;
  /* justify-content: center; */
  overflow: hidden;
  gap: 37px;
}

.slider_main_card {
  min-width: 265px;
  height: 100%;
  position: relative;
  /* background-color: #c00511; */
}

.slider_inner_card,
.slider_inner_card img {
  width: 100%;
  height: 392px;
  position: relative;
}

.image_btn_container {
  top: 21px;
  width: 246px;
  position: absolute;
}

.image_btn_container span {
  display: inline-block;
  height: 27px;
  width: 78px;
  background-color: var(--red);
  font-weight: 300;
  font-size: 90%;
  text-align: center;
  color: var(--white);
  padding-top: 2px;
  border-radius: 0 6px 6px 0;
}

.slider_card_title {
  color: var(--white);
  font-size: 90%;
  margin-top: 17px;
  font-weight: 800;
}

.slider_main_card:hover .slider_card_title {
  color: var(--red);
}

/* //////////////////////////////////////DESCRIPTION////////////////////////////////////////////////// */

#description_header {
  background-image: none;
  height: auto;
}

.description_page_container {
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 110px;
}
.desc_page_left_container {
}

.movie_title {
  font-weight: 800;
  font-size: 160%;
  color: var(--white);
}

.movie_container img {
  width: 100%;
  max-height: 467px;
  margin-top: 28px;
}

.movie_details_container .row {
  justify-content: left;
  gap: 22px;
  margin-left: auto;
  width: 250px;
  margin-right: auto;
  margin-bottom: 16px;
}

.movie_details_container {
  margin-top: 22px;
}

.movie_details_container .row p {
  color: var(--gray);
  display: flex;
  width: 93px;
  justify-content: space-between;
  font-size: 80%;
  font-weight: 400;
}

.movie_details_container .row p:nth-child(2) {
  width: 114px;
  justify-content: left;
  gap: 16px;
}

.movie_details_container .row p:nth-child(2) svg {
  margin-top: 6px;
}

.movie_details_container .row p:nth-child(1) svg {
  margin-top: -7px;
}

.cast_container {
  margin-top: 80px;
}
.cast_container h2 {
  text-align: center;
  color: var(--white);
  font-weight: 600;
  font-size: 90%;
  margin-bottom: 15px;
}

.cast_list_container li {
  display: flex;
  gap: 25px;
}
.cast_list_container li img {
  min-width: 39px;
  height: 39px;
  border-radius: 50%;
}

.cast_list_container {
  gap: 15px;
  max-width: 300px;
  overflow: auto;
  max-height: 300px;
}

.cast_list_container li .column_center {
  color: var(--red);
  width: 65%;
  font-size: 70%;
  font-weight: 600;
}

.cast_list_container li .column_center span {
  font-size: 85%;
  color: var(--white);
  font-weight: 400;
}
/* 
.desc_page_right_container {
  height: 200px;
  background-color: red;
} */

.footer_container {
  padding-top: 134px;
  /* padding-bottom: 144px; */
  width: 100%;
  min-height: 280px;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-gray);
}

.links .main-nav {
  color: var(--gray);
  font-size: 60%;
  padding-top: 8px;
}

.social_media {
  padding-right: 134px;
}

.social_media .row {
  gap: 22px;
}
.social_media .row ul li img {
  max-height: 32px;
  max-width: 32px;
}

.cast_list_container::-webkit-scrollbar {
  width: 2px;
}

.cast_list_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.cast_list_container::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
  outline: 1px solid slategrey;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

.cast_container_btn {
  display: block;
  margin: 20px auto;
  background: none;
  border: none;
}

.desc_page_right_container {
}

.right_container_button {
  margin-top: 70px;
  display: flex;
  gap: 47px;
}
.right_container_button button {
  background: none;
  border: none;
  color: var(--gray);
  font-size: 100%;
  font-weight: 400;
  border-bottom: 2px solid var(--body-color);
  padding-bottom: 9px;
}
.right_container_button button:hover,
.right_container_actv_btn {
  color: var(--red) !important;
  font-weight: 500;
  border-bottom: 2px solid var(--red) !important;
}

.right_container_paragraph {
  margin-top: 29px;
  font-weight: 400;
  font-size: 100%;
  background: linear-gradient(
    177.88deg,
    #8b8b8b 43.47%,
    rgba(139, 139, 139, 0) 119.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.right_container_movie_btns {
  display: flex;
  gap: 73px;
  margin-top: 80px;
}

.right_container_movie_btns .red_btn {
  width: 179px;
  border-radius: 90px;
  height: 47px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 10px;
  font-size: 100%;
  font-weight: 700;
  border: none;
}

.right_container_movie_btns ul {
  display: flex;
  gap: 10px;
}

.right_container_movie_btns ul button {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.52);
  background: none;
  text-align: center;
}

.right_container_movie_btns ul li:nth-child(1) button {
  padding-left: 3px;
  padding-top: 3px;
}

.right_container_movie_btns ul li button:hover,
.active_btn {
  border: 1px solid var(--red) !important;
}
.right_container_movie_btns ul li button:hover svg path,
.active_btn svg path {
  fill: var(--red) !important;
}

.right_container_movie_trailers {
}

.right_trailers {
  margin-top: 33px;
  max-width: 773px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(373px, 1fr));
  grid-gap: 27px;
}

.right_container_movie_trailers h2 {
  margin-top: 100px;
  font-weight: 700px;
  color: var(--gray);
  font-size: 80%;
}

.grid_trailers {
  max-width: 373px;
  height: 210px;
  /* background-color: red; */
}
.grid_trailers svg {
  margin-left: 155px;
  margin-top: 74px;
}

.grid_trailers:nth-child(1) {
  background-image: url("../img/image 13.png");
}

.grid_trailers:nth-child(2) {
  /* background-color: var(--gray); */
  background-image: url("../img/image 14.png");
}

.grid_trailers:nth-child(3) {
  background-image: url("../img/image 15.png");
}

.grid_trailers:nth-child(4) {
  /* background-color: var(--gray); */
  background-image: url("../img/image 17.png");
}

.my_list_title_container {
  margin-top: 150px;
  margin-bottom: 72px;
}

.my_list_title_container h1 {
  font-size: 160%;
  color: var(--white);
  font-weight: 500;
  display: inline;
}
.my_list_title_container img {
  display: inline;
  margin-left: 44px;
  padding-bottom: 6px;
}

.movies_cards_container {
  max-width: 1223px;
  display: grid;
  grid-gap: 37px;
  /* grid-auto-columns: minmax(264px, auto); */
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
}

.movie_card {
  /* display: inline-block; */
  max-width: 264px;
  height: 392px;
  background-color: var(--dark-gray);
}

.movie_card h4 {
  font-size: 90%;
  font-weight: 800;
  color: var(--white);
  margin-top: 17px;
}

.movie_card svg {
  margin-left: 223px;
  margin-top: 21px;
  position: absolute;
}
.comments_container {
  margin-top: 200px;
}

.comments {
  margin-top: 40px;
}

.comments_container h1 {
  font-size: 90%;
  color: var(--white);
  font-weight: 400;
}

.comment {
  margin-bottom: 56px;
}

.comment h5 {
  color: var(--white);
  font-size: 80%;
}

.comment h5 span {
  margin-left: 7px;
  color: var(--gray);
  font-size: 80%;
}

.comment p {
  margin-top: 9px;
  font-size: 80%;
  color: var(--white);
}
.comment_card {
  display: flex;
  flex-direction: row;
  position: relative;
}
.comment_img {
  margin-top: 5px;
  margin-right: 16px;
  max-height: 39px;
  max-width: 39px;
}


.blur{
  background: linear-gradient(262.15deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  border: 0.3px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  border-radius: 4px;
  /* padding-top: 30%; */
}

.blur p{
  text-align: center;
  font-weight: 400;
  font-size: 100%;
  color: var(--white);
  margin-top: 40px;
}